body {
  margin: 30px;
}

:root{
  --primary: #4CAF50;
  --secondary: antiquewhite;
  --light-grey: #DADCE0;
}


/* Link */
.ui-link{
  text-decoration: none;
  color: var(--primary);
}

/* Button */
.ui-button{
  background-color: var(--primary);
  color: white;
  padding: 5px 5px;
  min-width: 150px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); */
  border: none;
  transition: opacity 200ms ease-out;
  margin-top: 10px;
}
.ui-button:hover{
  opacity: 0.8;
}
.ui-button:disabled{
  opacity: 0.4;
  cursor: disabled;
}

/* Input i.e. Textfield */
.ui-textfield{
  padding: 12px 10px;
  border-radius: 3px;
  border: 1px solid var(--light-grey);
  font-size: 16px;
}

/* Container */
.ui-container{
  width: 80%;
  margin: 0 auto;
}

.product{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  background-color: var(--light-grey);
}

.product img{
  margin-left: 10px;
}
.store-front{
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  display: flex;
  gap: 30px;
}

ul{
  list-style: none;
}